In [10]:
import pandas as pd
import numpy as np
from scipy import stats

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
df = pd.read_csv('C:\\git\\\UdacityDataAnalystNanoDegree\\1_Stats\\stroopdata.csv')

In [2]:
df

    Congruent  Incongruent
0      12.079       19.278
1      16.791       18.741
2       9.564       21.214
3       8.630       15.687
4      14.669       22.803
5      12.238       20.878
6      14.692       24.572
7       8.987       17.394
8       9.401       20.762
9      14.480       26.282
10     22.328       24.524
11     15.298       18.644
12     15.073       17.510
13     16.929       20.330
14     18.200       35.255
15     12.130       22.158
16     18.495       25.139
17     10.639       20.429
18     11.344       17.425
19     12.369       34.288
20     12.944       23.894
21     14.233       17.960
22     19.710       22.058
23     16.004       21.157

In [14]:
c = df['Congruent']
i = df['Incongruent']

In [8]:
df.mean()

Congruent      14.051125
Incongruent    22.015917
dtype: float64

In [41]:
df.min()

Congruent       8.630
Incongruent    15.687
dtype: float64

In [43]:
df.max()

Congruent      22.328
Incongruent    35.255
dtype: float64

In [47]:
np.std(df, ddof=1)

Congruent      3.559358
Incongruent    4.797057
dtype: float64

In [17]:
plt.show()

In [122]:
fig = plt.figure()
fig.suptitle('Test run time (Congruent x Incongruent)', fontsize=14, fontweight='bold')
ax = fig.add_subplot(111)
fig.subplots_adjust(top=0.85)

ax.set_xlabel('Subject Id')
ax.set_ylabel('Completion Time (seconds)')

plt.xticks(np.arange(min(x), max(x)+1, 1.0))


plt.scatter(df.index, c, s=50, c='blue', alpha=0.5)
plt.plot(df.index, c, c='blue')

plt.scatter(df.index, i, s=50, c='red', alpha=0.5)
plt.plot(df.index, i, c='red')
plt.show()

In [48]:
df['diff'] = df['Congruent'] - df['Incongruent'] #create a new column with the difference

In [59]:
#sample standard deviation of the differences

In [119]:
n = len(df)

#1) Find the Point estimate, the difference in the means of “c” and “I”:  
pe = 14.05 - 22.02

#2) Find the Standard deviation of the differences: 3.69
df['diff'] = df['Congruent'] - df['Incongruent'] #create a new column with the difference
S = np.std(df['diff'], ddof=1) #sample standard deviation

#3) Find t:
t = pe / (S/np.sqrt(n))

#4) Find t-critical:
tcrit = stats.t.ppf(1-0.025, 23) #95% on both sides = 2.5% on each tail; 23 degrees of freedom

#5) Find p-value:
pval = stats.t.sf(np.abs(t), n-1)*2 

#6) Find Confidence Interval:
lowerCI = pe - (tcrit * (S/np.sqrt(n)))
upperCI = pe + (tcrit * (S/np.sqrt(n)))